body {
  background-color: rgb(247, 247, 247);
  text-align: left;
}

.ui.card .description {
  margin-bottom: 16px;
}

.ui.card,
.ui.card:last-child,
.ui.card:first-child {
  margin: 1em;
}

.ui.card .extra,
.ui.card .description,
.ui.card .header {
  text-align: left;
}

.container > .ui.grid {
  padding-top: 2em;
  padding-bottom: 2em;
}
